{{define "top"}}
<html>
<head>
  <title>{{if .title}}{{.title}}{{else}}Exposure Notifications{{end}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="bg-light">
  <header class="mb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Admin console</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-content">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="container" id="main">

{{if .error}}
  {{range .error}}
    <div class="alert alert-danger" role="alert">{{.}}</div>
  {{end}}
{{end}}
{{if .success}}
  {{range .success}}
    <div class="alert alert-success" role="alert">{{.}}</div>
  {{end}}
{{end}}

{{end}}
