{{define "top"}}
<html lang="en">
<head>
  <title>{{if .title}}{{.title}}{{else}}Exposure Notifications{{end}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"
    integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" />
  <link rel="stylesheet" href="/assets/styles.css">

  <style type="text/css">
    #main {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  </style>
</head>

<body class="bg-light">
  <header class="mb-3">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Admin console</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-content">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="container" id="main">

{{if .error}}
  {{range .error}}
    <div class="alert alert-danger" role="alert">{{.}}</div>
  {{end}}
{{end}}
{{if .success}}
  {{range .success}}
    <div class="alert alert-success" role="alert">{{.}}</div>
  {{end}}
{{end}}

{{end}}
