<html>
<head>
  <title>Edit Authorized App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a class="navbar-brand" href="#">Exposure Notification Server</a>
 <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="jumbotron">
  <h2 class="display-4">Authorized App Details</h2>
</div>

{{if .new}}
<h2>Create New Authorized Application</h2>
{{else}}
<h2>Edit Application {{.app.AppPackageName}}</h2>
{{end}}

<form method="POST" action="/app?save=true&apn={{.app.AppPackageName}}" class="form-horizontal">
  <div class="form-group row">
    <label class="control-label col-sm-3" for="AppPackageName">App Package Name / Bundle ID:</label>
    <div class="col-sm-6">
      <input type="text" id="AppPackageName" name="AppPackageName" size="40" value="{{.app.AppPackageName}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-3" for="Platform">Platform:</label>
    <div class="col-sm-6">
    <select name="platform" id="platform" value="{{.app.Platform}}">
      <option value="android">Android</option>
      <option value="ios">iOS</option>
    </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-3" for="Regions">Regions:</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="Regions" rows="5">{{.app.RegionsOnePerLine}}</textarea>
      <small id="RegionsHelpBlock" class="form-text text-muted">One per line, leave blank for all</small>
    </div>
  </div>
  <hr/>
  <small id="RegionsHelpBlock" class="form-text text-muted">For Android Applications, </small>
  <div class="form-group row">
    <label class="control-label col-sm-3" for="Regions">Regions:</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="Regions" rows="5">{{.app.RegionsOnePerLine}}</textarea>
      <small id="RegionsHelpBlock" class="form-text text-muted">One per line, leave blank for all</small>
    </div>
  </div>

</form>

</div>
</body>
</html>
