{{define "authorizedapp"}}
{{template "top" .}}

{{if .new}}
<h2>Create New Authorized Application</h2>
{{else}}
<h2>Edit Application {{.app.AppPackageName}}</h2>
{{end}}

<form method="POST" action="/app" class="form-horizontal">
  <input type="hidden" name="Key" value="{{.previousKey}}" />
  <div class="alert alert-info" role="alert">Basic Application Authorization Information</div>
  <div class="form-group row">
    <label class="control-label col-sm-3" for="AppPackageName">App Package Name / Bundle ID:</label>
    <div class="col-sm-6">
      <input type="text" id="AppPackageName" name="AppPackageName" size="50" value="{{.app.AppPackageName}}">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-sm-3" for="Regions">Regions:</label>
    <div class="col-sm-6">
      <textarea class="form-control" name="Regions" id="Regions" rows="3">{{.app.RegionsOnePerLine}}</textarea>
      <small id="RegionsHelpBlock" class="form-text text-muted">One per line, leave blank for all</small>
    </div>
  </div>
  <hr/>

  <button type="submit" class="btn btn-outline-primary" name="TODO" value="save">Save Changes</button>
  <a href="/" class="btn btn-outline-secondary">Cancel</a>
  <button type="submit" class="btn btn-outline-danger" name="TODO" value="delete">Delete</button>

</form>

{{template "bottom" .}}
{{end}}
