<html>
<head>
  <title>Exposure Notifications Server - Console</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Exposure Notifications Server - Admin Console</h1>

<h2>Authorized Applications</h2>
<ul>
  <li><a href="/app?apn=">Create new Authorized Application</a></li>
  {{if .apps}}
    {{range .apps}}
      <li><a href="/app?apn={{.AppPackageName}}">{{.AppPackageName}}</a> | {{.Platform}}</li>
    {{end}}
  {{else}}
    <li><i>There are no authorized applications</i></li>
  {{end}}
</ul>

<hr/>
<h2>Export Configurations</h2>
<ul>
 <li>Create New <a href="/export?id=-1">Export Config</a> | <a href="/signatureinfo?id=-1">Signature Info</a></li>
 {{if .exports}}
   {{range .exports}}
     <li><a href="/export?id={{.ConfigID}}">{{.ConfigID}}</a> Region: {{.Region}} | Bucket: {{.BucketName}} | From: {{.FormattedFromTime}} | Thru: {{.FormattedThruTime}}</li>
   {{end}}
 {{else}}
   <li><i>There are no export configurations</i></li>
 {{end}}
</ul>

</div>
</body>
</html>
