{{define "siginfo"}}
{{template "top" .}}

<div class="card shadow-sm">
  <div class="card-header">
    {{if .new}}
      New Signature Info
    {{else}}
      Edit Signature Info # {{.siginfo.ID}}
    {{end}}
  </div>
  <div class="card-body">
    {{if not .new}}
      <div class="alert alert-warning" role="alert">
        <p>
          You are editing a signature info. This is allowed, but generally not
          advised unless you are only changing the exporitation timestamp to be
          sooner than it already is.
        </p>
        <p class="mb-0">
          If you are rotating a key, it is better to create a second signature
          info with the new key version, and then set this one to expire in 7-10
          days (or a time advised by Apple and Google).
        </p>
      </div>

      <div class="alert alert-info" role="alert">
        Signature Info configurations cannot be deleted. Instead they are
        expired by setting and end date and time.
      </div>
    {{end}}

    <form method="POST" action="/siginfo/{{.siginfo.ID}}" class="floating-form">
      <div class="form-label-group">
        <input type="text" name="SigningKey" id="signing-key" value="{{.siginfo.SigningKey}}"
          placeholder="signing-key" class="form-control">
        <label for="signing-key">Signing key</label>
        <small class="form-text text-muted">
          The resource ID of the signing key. The exact format will be dependent
          on the Key Management System that you are using.
        </small>
      </div>

      <div class="form-group">
        <label for="enddate">Use until</label>
        <div class="form-row">
          <div class="col-md-6">
            <input type="date" id="enddate" name="enddate" value="{{.siginfo.HTMLEndDate}}"
              min="2020-05-01" max="2029-12-21" class="form-control" />
          </div>
          <div class="col-md-6 input-group">
            <input type="time" id="endtime" name="endtime" value="{{.siginfo.HTMLEndTime}}"
              class="form-control" />
             <div class="input-group-append">
              <a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_BLANK" class="input-group-text">UTC</a>
            </div>
          </div>
        </div>
        <small class="form-text text-muted">
          For Export Configurations that reference this key #, this signature
          will be added up until this date/time. If the time is blank, the key
          will end at 00:00 UTC on the day specified. <strong>Leave blank to use
          this key as long as it is attached to an export</strong>
        </small>
      </div>

      <div class="form-label-group">
          <input type="text" name="SigningKeyID" id="signing-key-id" value="{{.siginfo.SigningKeyID}}"
            placeholder="Signing key ID" class="form-control">
          <label for="signing-key-id">Signing key ID</label>
          <small class="form-text text-muted">
            This will normally be the Mobile Country Code (<a
            href="https://en.wikipedia.org/wiki/Mobile_country_code"
            target="_blank">MCC</a>) for the region that your export covers.
            This should be coordinated with Google and Apple.
          </small>
      </div>

      <div class="form-label-group">
        <input type="text" name="SigningKeyVersion" id="signing-key-version" value="{{.siginfo.SigningKeyVersion}}"
          placeholder="Signing key version" class="form-control">
        <label for="signing-key-version">Signing key version</label>
        <small class="form-text text-muted">
          The version of the signing key. Normally will be v1, but may change
          with key rotation.
        </small>
      </div>

      <hr/>
      <button type="submit" class="mt-5 btn btn-block btn-primary" value="save">Save changes</button>
    </form>
  </div>
</div>
{{template "bottom" .}}
{{end}}
