# This file is a protobuff text format representation of a Mako
# BenchmarkInfo message.
#
# For more information about text format protobuffs see: go/proto-text-format
#
# For more information about BenchmarkInfo and the fields it contains see
# https://github.com/google/mako/blob/master/spec/proto/mako.proto
#
# This particular message is configured to be passed into a create_benchmark
# command via the mako command line tool.
#
# The difference between this file and update_benchmark.config is that the
# benchmark_key is not defined.
#
# For assistance using the command line tool see go/mako-help.
#
project_name: "Exposure Notifications Server"
owner_list: "kgood@google.com"
owner_list: "chaodai@google.com"
